<div id="content" class="col-sm-9">
	<h1 class="hidden">Tài Khoản</h1>
	<div class="account-main">


<div class="col-sm-3">
	<div class="about-us clearfix shop-content">
		<div class="col-sm-12">
			<h2 class="account-list-heading">Tài Khoản</h2>
			<hr style="border-top: 1px solid black; margin:0">
		</div>
		<div class="col-sm-12">
		<ul class="list-unstyled account-list-content">
			<li><a th:href="@{/account/information}">  Thông tin tài khoản</a></li>
			<li><a th:href="@{/account/change-password}">  Đổi mật khẩu</a></li>
			<li><a th:href="@{/account/address}">  Địa chỉ</a></li>
			<li><a th:href="@{/account/favorite}">  Sản phẩm yêu thích</a></li>
		</ul>
		</div>

		<div class="col-sm-12">
			<h2 class="account-list-heading">Đơn Hàng</h2>
			<hr style="border-top: 1px solid black;margin:0">
		</div>
		<div class="col-sm-12">
		<ul class="list-unstyled account-list-content">
			<li><a th:href="@{/account/order}">Xem lịch sử đơn hàng</a></li>
			<li><a th:href="@{/account/order/search}">Tìm kiếm đơn hàng</a></li>
		</ul>
		</div>

		<div class="col-sm-12">
			<h2 class="account-list-heading">Hoạt Động</h2>
			<hr style="border-top: 1px solid black;margin:0">
		</div>
		<div class="col-sm-12">
		<ul class="list-unstyled account-list-content">
			<li><a th:href="@{/logout}">Đăng xuất</a></li>
		</ul>
		</div>
	</div>
	</div>
	</div>
</div>