<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<footer class="mt-30">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="footer-main">
					<div class="col-md-4">
						<div class="position-footer-left">
							<div class="footer_aboutus">
								<div class="about-cms">
									<a href="#"> <img alt="" style="width: 100%"
													  th:src="@{|/assets/user/image/catalog/logo2.jpg|}">
									</a>
									<div class="footer-desc">Địa chỉ: 290 Võ Văn Ngân, Bình Thọ, Thủ Đức, Thành phố Hồ Chí Minh Tổng đài hỗ trợ: 0966158666 - Email:
										chamsockhachhang@shoetopia.com.vn.</div>
								</div>
							</div>
							<div class="social-media">
								<div class="social-media-inner" >
									<div class="youtube">
										<a href="https://www.youtube.com/@bitis5826" style="color: #ff0300" ><i class='fab fa-youtube' style='font-size:20px'></i></a>
									</div>
									<div class="facebook">
										<a href="https://www.facebook.com/bitisshoes/?locale=vi_VN" style="color: #0000ff" ><i class='fab fa-facebook' style='font-size:20px'></i></a>
									</div>
									<div class="twitter">
										<a href="https://twitter.com/Bitishunter" style="color: #1d9bf0" ><i class='fab fa-twitter' style='font-size:20px'></i></a>
									</div>
									<div class="pinterest">
										<a href="https://www.pinterest.com/dinhngoc2407/bitis-hunter/" style="color: #e60023" ><i class='fab fa-pinterest' style='font-size:20px'></i></a>
									</div>
									<div class="instagram">
										<a href="https://www.instagram.com/bitis.hunter/" style="color: #316282" ><i class='fab fa-instagram' style='font-size:20px'></i></a>
									</div>
								</div>
							</div>
							<div class="contact-detail col-sm-3">
								<h5 class="toggled title">Liên hệ</h5>
								<ul class="list-unstyled">
									<li>
										<div class="site">
											<i class="fa fa-map-marker" style="color:#06ce04"></i>
											<div class="contact_site">290 Võ Văn Ngân, Bình Thọ, Thủ Đức, Thành phố Hồ Chí Minh</div>
										</div>
									</li>
									<li>
										<div class="phone">
											<i class="fa fa-phone" style="color:#06ce04"></i>
											<div class="contact_site"> (028) 38 753 443</div>
										</div>
									</li>
									<li>
										<div class="fax">
											<i class="fa fa-fax" style="color:#06ce04"></i>
											<div class="contact_site">0966158666</div>
										</div>
									</li>
									<li>
										<div class="email">
											<i class="fa fa-envelope" style="color:#06ce04"></i>
											<div class="contact_site">
												<a th:href="@{|mailto:${information.email}|}">[[${information.email}]]</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="footer-right col-md-8">
						<div class="footer-inner row">
							<div class="col-sm-3">
								<div class="footer-content">
									<h5>VỀ SHOETOPIA</h5>
									<ul class="list-unstyled">
										<li><a th:href="@{/aboutUs}">Về Shoetopia</a></li>
										<li><a th:href="@{/delivery}">Câu chuyện Shoetopia</a></li>
										<li><a th:href="@{/policy}">Bước tiến phát triển</a></li>
										<li><a th:href="@{/termCondition}">Hoạt Động</a></li>
										<li><a th:href="@{/contact}">Liên hệ</a></li>
									</ul>
								</div>
							</div>

							<div class="col-sm-3">
								<div class="footer-content">
									<h5>THÔNG TIN</h5>
									<ul class="list-unstyled">
										<li><a href="">Trạng thái đơn hàng</a></li>
										<li><a href="">Hình thức giao hàng</a></li>
										<li><a th:href="@{/termCondition}">Hình thức thanh toán</a></li>
										<!--<li><a href="">Chính sách đổi Size</a></li>-->
										<li><a th:href="@{/policy}">Chính sách bảo hành</a></li>
									</ul>
								</div>
							</div>

							<div class="col-sm-3">
								<div class="footer-content">
									<h5>TRỢ GIÚP</h5>
									<ul class="list-unstyled">
										<li><a href="">Tuyển Dụng</a></li>
										<li><a href="">Hệ thống cửa hàng</a></li>
										<li><a href="">Liên hệ hợp tác</a></li>
										<li><a href="">Q&A</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="footer_bottom col-xs-12">
							<p class="powered">
								Copyright © 2023 Biti's. Powered by Haravan Enterprise<a href=""></a>
							</p>
							<div class="position-footer-bottom">
								<div class="payment-link">
									<img src="/assets/user/image/catalog/payment.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</footer>
</body>
</html>