<div class="service-box">
	<div class="page-title toggled">
		<h3>Dịch vụ của chúng tôi</h3>
	</div>
	<div class="service-desc block-content clearfix">

		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/service5.png" alt="" width="32px" height="32px">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Cam kết chính hãng Biti's 100%</h4>
				</div>
			</div>
		</div>
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/service1.png" alt="" width="32px" height="32px">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Bảo hành 06 tháng</h4>
				</div>
			</div>
		</div>
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/service2.png" alt="" width="32px" height="32px">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Đổi trả hàng trong vòng 7 ngày</h4>
				</div>
			</div>
		</div>
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/service4.png" alt="" width="32px" height="32px">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Đổi size trong vòng 7 ngày</h4>
				</div>
			</div>
		</div>
		<div class="service-item">
			<div class="service">
				<div class="service-icon">
					<img src="/assets/user/image/icon/service3.png" alt="" width="32px" height="24px">
				</div>
				<div class="service-content">
					<h4 class="promo-title">Free ship đơn hàng 1.5 Triệu</h4>
				</div>
			</div>
		</div>

		&ensp;
	</div>
		&ensp;</div>
